<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD NodeJS</title>
  <link rel="icon" href="/images/inter-snake.png" sizes="128x128" type="image/x-icon"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid">
    <div class="wrapper-form mt-5 mb-5">
      <h4>EDIT</h4>      
      <br/>
      <div class="wrapper-alert">
  
      </div>   
      <div class="mb-3 d-flex">
        <label for="username" class="form-label col-md-2">Username</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Your Username" value=<%-username%> />
        <input type="text" class="form-control" name="_id" id="_id" style="display:none;" value=<%-_id%>/>
      </div>
      <div class="mb-3 d-flex">
        <label for="password" class="form-label col-md-2">Password</label>
        <input type="text" class="form-control" name="password" id="password" placeholder="Your Password" value=<%-password%> />
      </div>      
      <div class="mb-3 d-flex">
        <label for="email" class="form-label col-md-2">Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" value=<%-email%> />
      </div>
      <div class="mb-3 d-flex">
        <label for="age" class="form-label col-md-2">Age</label>
        <input type="text" class="form-control" id="age" name="age" placeholder="Your Age" value=<%-age%> />
      </div>      
      <div class="mb-3 d-flex">
        <label for="address" class="form-label col-md-2">Address</label>
        <textarea class="form-control" id="address" name="address" rows="3" placeholder="Your Address"><%-address%></textarea>
      </div>
      <div class="mb-3 d-flex">
        <label for="kosongan" class="form-label col-md-2"></label>
        <button type="button" id="btnUpdate" class="btn btn-secondary w-25">
          UPDATE
        </button>
        <button type="reset" id="btnReset" class="btn btn-danger w-25">
          BACK
        </button>        
      </div>
    </div>
  </div>
</body>
<script type="text/javascript">
  let divAlert = document.querySelector('.wrapper-alert');

  let btnReset = document.getElementById("btnReset")
  btnReset.addEventListener('click', function(event){
    location.href = location.href='http://localhost:9701/home'
  })

  let btnUpdate = document.querySelector('#btnUpdate')
  btnUpdate.addEventListener('click', function(event){
    fetch('/update_data', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        _id: document.querySelector('#_id').value,
        username: document.querySelector('#username').value,
        password: document.querySelector('#password').value,
        email: document.querySelector('#email').value,
        age: document.querySelector('#age').value,
        address: document.querySelector('#address').value,
      })
    })
    .then(function (response) {
      return response.json()
    })
    .then(function (result) {
      // console.log(result)
      divAlert.innerHTML = `
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>${ result.message }!</strong> Data dengan ID <b><i>${ result.result }</i></b> berhasil terupdate
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>         
      `;      

      // document.querySelector('#username').value = result.result.username
      // document.querySelector('#password').value = result.result.password
      // document.querySelector('#email').value = result.result.email
      // document.querySelector('#age').value = result.result.age
      // document.querySelector('#address').value = result.result.address
    })
    .catch(function (error) {
      console.log(error)
    })
  });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</html>