<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD NodeJS</title>
  <link rel="icon" href="/images/binar-logos-notext.png" sizes="128x128" type="image/gif/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <a class="navbar-brand" onclick="location.reload();">
        <img src="/images/binar-logos-notext.png" alt="Navbar Logo" width="40" height="40">
      </a>      
      <!-- button toggler untuk dropdown menu ketika tampilan mengecil / responsive dropdown menu -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/home">
                <i class="fa fa-igloo"></i>
                Home
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">
                <i class="fa fa-sign-out-alt"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="wrapper-alert-home mt-3 mb-2">
      
    </div>    
    <div class="wrapper-table mt-3 mb-2 ml-2">
      <div class="row option d-flex bd-highlight mb-3">
        <div class="wrapper-judul-tabel p-2 bd-highlight col-md-4">
          <button type="button" name="btnForm" id="btnForm" class="btn btn-primary mb-2 w-10">
            <i class="fa fa-user-plus"></i>
            NEW
          </button>
        </div>
          <form class="form-inline col-md-8 justify-content-end">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
              </div>
              <input type="text" class="form-control search mr-2" id="search" name="search" placeholder="Find Username" style="width:25%;">
            </div>            
            <button type="button" name="btnReset" id="btnReset" class="btn btn-secondary mr-2">
              <i class="fa fa-broom"></i>
              RESET
            </button>               
            <button type="button" name="btnRefresh" id="btnRefresh" class="btn btn-info">
              <i class="fa fa-sync"></i>
              RELOAD
            </button>
          </form>
        <!-- </div>    -->
      </div>  
      <div class="row table-responsive">
        <table class="table table-data">
          <caption class="caption">List All of User Registered</caption>
          <thead>
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">Username</th>
              <th scope="col" class="text-center">Password</th>
              <th scope="col" class="text-center">Email</th>
              <th scope="col" class="text-center">Address</th>
              <th scope="col" class="text-center">Age</th>
              <th scope="col" class="text-center">Action</th>
            </tr>            
          </thead>
          <tbody class="table-body">

          </tbody>
        </table>
      </div>
      <div class="row row-modal">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning!!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                You're about to delete the data. Are you sure you want to delete it?
              </div>
              <div class="modal-footer">
<!--                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-delete">Yes, Delete</button> -->
              </div>
            </div>
          </div>
        </div>      
      </div>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js" integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD" crossorigin="anonymous"></script>
<script type="text/javascript">
  let wrapperAlert = document.querySelector('.wrapper-alert-home');
  let tableBody = document.querySelector('.table-body');

  let kuki_val = getCookie('user-data'); //ambil uname aja
  let dropDownText = document.querySelector('#navbarDropdown');
  dropDownText.textContent = 'Welcome Back, ' +kuki_val.toUpperCase();

  /* async await implementation to fetch data from callback fetch */
  async function getDataTables() {
    const response = await fetch('/list_all', {method: 'GET', headers: {'Content-Type': 'application/json'}})
    // error handling - throw ke catch error
    if (!response.ok) {
      const message = `An error has occured: ${response.status} & Text : ${response.statusText}`;
      throw new Error(message);
    }
    const datax = await response.json();

    console.log("Dari Async Func: ", response)
    console.log("Dari Async Func: ", datax);

    return datax;
  }  

  getDataTables().then(function (datax) {
    console.log("Dari Callback Func: ", datax);

    if( kuki_val ) {
      wrapperAlert.innerHTML = `
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          Welcome Back, <strong> ${ kuki_val } </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>                  
      `;
    }

    wrapperAlert.innerHTML += `
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>${ datax.message }!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>         
    `;          

    for (let i = 0; i < datax.result.length; i++) {
      tableBody.innerHTML += `
        <tr>
          <td scope="col" class="text-center">${ i+1 }</td>
          <td scope="col" class="text-center">${ datax.result[i].username }</td>
          <td scope="col" class="text-center">${ datax.result[i].password }</td>
          <td scope="col" class="text-center">${ datax.result[i].email }</td>
          <td scope="col" class="text-center">${ datax.result[i].address }</td>
          <td scope="col" class="text-center">${ datax.result[i].age }</td>
          <td scope="col" class="text-center">
            <a class="btn btn-outline-warning btn-sm" href="/find/${ datax.result[i]._id }" role="button"><i class="fa fa-pencil"></i></a>
            <button id="${ datax.result[i]._id }" onclick="removeUser(this.id)" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></button>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="${ datax.result[i]._id }"><i class="fa fa-angle-double-up"></i></button>
          </td>
        </tr>        
      `;
    }
  })
  .catch(function (error) {
    // console.log(error)
    // <button id="${ datax.result[i]._id }" onclick="removeUser(this.id)" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></button>
    error.message; //ambil parameter "message" dari await
  })

  /* modal */
  $('#exampleModal').on('show.bs.modal', function (event) {
    let button = $(event.relatedTarget) // Button that triggered the modal
    let recipient = button.data('whatever') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    let modal = $(this)
    modal.find('.modal-title').text('Warning! ID ' + recipient)
    document.querySelector('.modal-footer').innerHTML = `
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" id="${ recipient }" onclick="deleteUser(this.id)" class="btn btn-primary btn-delete">Yes, Delete</button>
    `;
  })


  function deleteUser(params) {
    document.querySelector('#exampleModal').style.display = 'hide';
    document.querySelector("body").classList.remove("modal-open");

    fetch('/delete/'+params, {method: 'POST', headers: {'Content-Type': 'application/json'}})
    .then(function (response) {
      return response.json();
    })
    .then(function (result) {
      console.log(result)
      wrapperAlert.innerHTML = `
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>${ result.message }!</strong> Data Dengan ID ${ result.result } terhapus. <strong>Tunggu beberapa saat lagi, Tabel akan me-reload data baru</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      `;

      setTimeout(function () {
        location.reload();
      }, 3000)        
    })
    .catch(function(error) {
      console.log(error)
    })
  }

  function removeUser(params) {
    fetch('/remove/'+params, {method: 'GET', headers: {'Content-Type': 'application/json'}})
    .then(function (response) {
      return response.json();
    })
    .then(function (result) {
      console.log(result)
      wrapperAlert.innerHTML = `
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>${ result.message }!</strong> Data Dengan ID ${ result.result } terhapus. <strong>Tunggu beberapa saat lagi, Tabel akan me-reload data baru</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      `;      
    })
    .then(function (next) {
      setTimeout(function () {
        location.reload();
      }, 2000)
    })
    .catch(function(error) {
      console.log(error)
    })
  }

  let txtSearch = document.querySelector('#search')
  txtSearch.addEventListener('keyup', function(event){
    if (event.keyCode === 13) {
      fetch('/search/'+txtSearch.value, {method: 'GET', headers: {'Content-Type': 'application/json'}})
      .then(function (response) {
        return response.json();
      })
      .then(function (result) {
        console.log(result);
        tableBody.innerHTML = '';        
        if((result.result.length > 0)) {
          for(let i=0; i<result.result.length; i++) {
            wrapperAlert.innerHTML = `
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>${ result.message }!</strong> Terdapat Data Sebagai Berikut :
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>         
            `;

            tableBody.innerHTML += `
              <tr>
                <td scope="col" class="text-center">${ i+1 }</td>
                <td scope="col" class="text-center">${ result.result[i].username }</td>
                <td scope="col" class="text-center">${ result.result[i].password }</td>
                <td scope="col" class="text-center">${ result.result[i].email }</td>
                <td scope="col" class="text-center">${ result.result[i].address }</td>
                <td scope="col" class="text-center">${ result.result[i].age }</td>
                <td scope="col" class="text-center">
                  <a class="btn btn-outline-warning btn-sm" href="/find/${ result.result[i]._id }" role="button"><i class="fa fa-pencil"></i></a>
                  <button id="${ result.result[i]._id }" onclick="deleteUser(this.id)" class="btn btn-outline-danger btn-sm""><i class="fa fa-trash"></i></button>
                </td>
              </tr>        
            `;
          }
        } else {
          wrapperAlert.innerHTML = `
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Ooppss!</strong> Tidak Ada Data Dengan Username : ${ txtSearch.value }. <br />
              Klik tombol <b>Reset</b> untuk menghapus keyword di kolom pencarian <br />
              Klik tombol <b>Refresh</b> untuk kembali ke Halaman Awal <br />
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          `;         
          tableBody.innerHTML = '';
        }
      })
      .catch(function (error){
        console.log(error);
      })
    }
  })

  let btnForm = document.querySelector('#btnForm');
  btnForm.addEventListener('click', function(event) {
    location.href = "http://localhost:9701/form"
  })

  let btnRefresh = document.querySelector('#btnRefresh');
  btnRefresh.addEventListener('click', function(event) {
    location.href = "http://localhost:9701/home"
  })  

  let btnReset = document.querySelector('#btnReset');
  btnReset.addEventListener('click', function(event) {
    document.querySelector('#search').value = ''
  })    

  /* customed, static - untuk dapat username aja */
  function getCookie(name) {
    let cookieArr = document.cookie.split(";");
    //console.log(cookieArr[0]); //user-data={"uid":"616d155497369c1260605afe","username":"sebelas","email":"sebelas@sebelas.sebelas","age":"22","address":"\"Sebelas\"","token_type":"Bearer"}

    for(let i = 0; i < cookieArr.length; i++) {
        let cookiePair = cookieArr[i].split("=");
        if(name == cookiePair[0].trim()) {
          // return decodeURIComponent(cookiePair[1]);
          //console.log(cookiePair[0].trim()); //user-data
          //console.log(decodeURIComponent(cookiePair[1])); //{"uid":"616d155497369c1260605afe","username":"sebelas","email":"sebelas@sebelas.sebelas","age":"22","address":"\"Sebelas\"","token_type":"Bearer"}
          let dataPair = decodeURIComponent(cookiePair[1]).split(":");
          //console.log(dataPair.length); // 7
          for(let i = 0; i < dataPair.length; i++) {
            //console.log(dataPair[i]);
            // {"uid"
            // "616d155497369c1260605afe","username"
            // "sebelas","email"
            // "sebelas@sebelas.sebelas","age"
            // "22","address"
            // "\"Sebelas\"","token_type"
            // "Bearer"}              
            //console.log(dataPair[i].split(",")[0]);
            // {"uid"
            // "616d155497369c1260605afe"
            // "sebelas"
            // "sebelas@sebelas.sebelas"
            // "22"
            // "\"Sebelas\""
            // "Bearer"}
            //console.log(dataPair[2].split(",")[0]) // "sebelas"
          }
          return dataPair[2].split(",")[0].slice(1,-1); // sebelas
        }
    }
    return null;
  }
</script>
</html>