<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD NodeJS</title>
  <link rel="icon" href="/images/inter-snake.png" sizes="128x128" type="image/gif/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid">
    <div class="wrapper-alert-home mt-5 mb-5">
      
    </div>    
    <div class="wrapper-table mt-5 mb-5 ml-2">
      <div class="row option d-flex bd-highlight mb-3">
        <div class="wrapper-judul-tabel mr-auto p-2 bd-highlight">
          <button type="button" name="btnForm" id="btnForm" class="btn btn-primary mb-2 w-10">
            <i class="fa fa-user-plus"></i>
            NEW
          </button>
        </div>
        <div class="wrapper-search p-2 mr-2 bd-highlight d-flex justify-content-end">
          <input type="text" class="form-control search" id="search" name="search" placeholder="Find Username" style="width:50%;">
          <button type="button" name="btnReset" id="btnReset" class="btn btn-small btn-secondary ml-2 mb-2 w-25">
            <i class="fa fa-broom"></i>
          </button>               
          <button type="button" name="btnRefresh" id="btnRefresh" class="btn btn-small btn-info ml-2 mb-2 w-25">
            <i class="fa fa-sync"></i>
          </button>             
        </div>   
      </div>  
      <div class="row table-responsive">
        <table class="table table-data">
          <caption class="caption">List All of User Registered</caption>
          <thead>
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">Username</th>
              <th scope="col" class="text-center">Password</th>
              <th scope="col" class="text-center">Email</th>
              <th scope="col" class="text-center">Address</th>
              <th scope="col" class="text-center">Age</th>
              <th scope="col" class="text-center">Action</th>
            </tr>            
          </thead>
          <tbody class="table-body">

          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript">
  let wrapperAlert = document.querySelector('.wrapper-alert-home');
  let tableBody = document.querySelector('.table-body');

  // displayAll()
  // function displayAll() {
  //   fetch('/list_all', {
  //     method: 'GET',
  //     headers: {
  //       'Content-Type': 'application/json'
  //     },
  //   })
  //   .then(function (response) {
  //     return response.json()
  //   })
  //   .then(function (result) {
  //     // console.log(result)
  //     let tableBody = document.querySelector('.table-body');
  //     for (let i = 0; i < result.result.length; i++) {
  //       data = result.result[i];
  //       tableBody.innerHTML += `
  //         <tr>
  //           <td scope="col" class="text-center">${ i+1 }</td>
  //           <td scope="col" class="text-center">${ result.result[i].username }</td>
  //           <td scope="col" class="text-center">${ result.result[i].password }</td>
  //           <td scope="col" class="text-center">${ result.result[i].email }</td>
  //           <td scope="col" class="text-center">${ result.result[i].address }</td>
  //           <td scope="col" class="text-center">${ result.result[i].age }</td>
  //           <td scope="col" class="text-center">
  //             <a class="btn btn-outline-warning btn-sm" href="/find/${ result.result[i]._id }" role="button"><i class="fa fa-pencil"></i></a>
  //             <button id="${ result.result[i]._id }" onclick="deleteUser(this.id)" class="btn btn-outline-danger btn-sm""><i class="fa fa-trash"></i></button>
  //           </td>
  //         </tr>        
  //       `;

  //       wrapperAlert.innerHTML = `
  //         <div class="alert alert-info alert-dismissible fade show" role="alert">
  //           <strong>${ result.message }!</strong>
  //           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  //             <span aria-hidden="true">&times;</span>
  //           </button>
  //         </div>         
  //       `;
  //     }
  //   })
  //   .catch(function (error) {
  //     console.log(error)
  //   })
  // }

  /* async await implementation to fetch data from callback fetch */
  async function getDataTables() {
    const response = await fetch('/list_all', {method: 'GET', headers: {'Content-Type': 'application/json'}})
    // error handling - throw ke catch error
    if (!response.ok) {
      const message = `An error has occured: ${response.status} & Text : ${response.statusText}`;
      throw new Error(message);
    }
    const datax = await response.json();

    console.log("Dari Async Func: ", response)
    console.log("Dari Async Func: ", datax);

    return datax;
  }  

  getDataTables().then(function (datax) {
    console.log("Dari Callback Func: ", datax);    
    for (let i = 0; i < datax.result.length; i++) {
      wrapperAlert.innerHTML = `
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <strong>${ datax.message }!</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>         
      `;

      tableBody.innerHTML += `
        <tr>
          <td scope="col" class="text-center">${ i+1 }</td>
          <td scope="col" class="text-center">${ datax.result[i].username }</td>
          <td scope="col" class="text-center">${ datax.result[i].password }</td>
          <td scope="col" class="text-center">${ datax.result[i].email }</td>
          <td scope="col" class="text-center">${ datax.result[i].address }</td>
          <td scope="col" class="text-center">${ datax.result[i].age }</td>
          <td scope="col" class="text-center">
            <a class="btn btn-outline-warning btn-sm" href="/find/${ datax.result[i]._id }" role="button"><i class="fa fa-pencil"></i></a>
            <button id="${ datax.result[i]._id }" onclick="deleteUser(this.id)" class="btn btn-outline-danger btn-sm""><i class="fa fa-trash"></i></button>
          </td>
        </tr>        
      `;
    }
  })
  .catch(function (error) {
    // console.log(error)
    error.message; //ambil parameter "message" dari await
  })

  function deleteUser(params) {
    fetch('/remove/'+params, {method: 'GET', headers: {'Content-Type': 'application/json'}})
    .then(function (response) {
      return response.json();
    })
    .then(function (result) {
      console.log(result)
      wrapperAlert.innerHTML = `
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>${ result.message }!</strong> Data Dengan ID ${ result.result } terhapus. <strong>Tunggu beberapa saat lagi, Tabel akan me-reload data baru</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      `;      
    })
    .then(function (next) {
      setTimeout(function () {
        location.reload();
      }, 2000)
    })
    .catch(function(error) {
      console.log(error)
    })
  }

  /* async implementation to delete data - GAKBISA, AUTO JALANIN FUNCTION PADAHAL ACTION KAN BY CLICK */
  // async function deleteUser(params) {
  //   const response = await fetch('/remove/'+params, {method: 'GET', headers: {'Content-Type': 'application/json'}})
  //   // error handling - throw ke catch error
  //   if (!response.ok) {
  //     const message = `An error has occured: ${response.status} & Text : ${response.statusText}`;
  //     throw new Error(message);
  //   }
  //   const data = await response.json();

  //   console.log(response)
  //   console.log(data)
    
  //   return data;
  // }

  // deleteUser().then(function (result) {
  //   console.log(result)
  //   wrapperAlert.innerHTML = `
  //     <div class="alert alert-success alert-dismissible fade show" role="alert">
  //       <strong>${ result.message }!</strong> Data Dengan ID ${ result.result } terhapus. Refresh Halaman Untuk Mendapatkan Data Terkini
  //       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  //         <span aria-hidden="true">&times;</span>
  //       </button>
  //     </div>
  //   `;          
  // }).then(function (next) {
  //   setTimeout(function () {
  //     location.href = 'http://localhost:9701/home'
  //   },3000)
  // }).catch(function (error) {
  //   error.message;
  // })
  /* end async implementation to delete data */  

  let txtSearch = document.querySelector('#search')
  txtSearch.addEventListener('keyup', function(event){
    if (event.keyCode === 13) {
      fetch('/search/'+txtSearch.value, {method: 'GET', headers: {'Content-Type': 'application/json'}})
      .then(function (response) {
        return response.json();
      })
      .then(function (result) {
        console.log(result);
        tableBody.innerHTML = '';        
        if((result.result.length > 0)) {
          for(let i=0; i<result.result.length; i++) {
            wrapperAlert.innerHTML = `
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>${ result.message }!</strong> Terdapat Data Sebagai Berikut :
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>         
            `;

            tableBody.innerHTML += `
              <tr>
                <td scope="col" class="text-center">${ i+1 }</td>
                <td scope="col" class="text-center">${ result.result[i].username }</td>
                <td scope="col" class="text-center">${ result.result[i].password }</td>
                <td scope="col" class="text-center">${ result.result[i].email }</td>
                <td scope="col" class="text-center">${ result.result[i].address }</td>
                <td scope="col" class="text-center">${ result.result[i].age }</td>
                <td scope="col" class="text-center">
                  <a class="btn btn-outline-warning btn-sm" href="/find/${ result.result[i]._id }" role="button"><i class="fa fa-pencil"></i></a>
                  <button id="${ result.result[i]._id }" onclick="deleteUser(this.id)" class="btn btn-outline-danger btn-sm""><i class="fa fa-trash"></i></button>
                </td>
              </tr>        
            `;
          }
        } else {
          wrapperAlert.innerHTML = `
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Ooppss!</strong> Tidak Ada Data Dengan Username : ${ txtSearch.value }. <br />
              Klik tombol <b>Reset</b> untuk menghapus keyword di kolom pencarian <br />
              Klik tombol <b>Refresh</b> untuk kembali ke Halaman Awal <br />
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          `;         
          tableBody.innerHTML = '';
        }
      })
      .catch(function (error){
        console.log(error);
      })
    }
  })

  let btnForm = document.querySelector('#btnForm');
  btnForm.addEventListener('click', function(event) {
    location.href = "http://localhost:9701/form"
  })

  let btnRefresh = document.querySelector('#btnRefresh');
  btnRefresh.addEventListener('click', function(event) {
    location.href = "http://localhost:9701/home"
  })  

  let btnReset = document.querySelector('#btnReset');
  btnReset.addEventListener('click', function(event) {
    document.querySelector('#search').value = ''
  })    
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script defer src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js" integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD" crossorigin="anonymous"></script>
</html>